@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #1BC4A6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.page {
    height: 370px;
    width: 350px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 15px 0px #009688;
    overflow: hidden;
}

.header {
    background-color: #15AA91;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#f1,
#f2 {
    border: 1px solid #009688;
    width: 300px;
    height: 45px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 4px;
    transition: box-shadow;
}

input:focus {
    outline: none;
}

label {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
}

.formField img {
    height: 25px;
}

.page a {
    color: #009688;
    text-decoration: none;
}

#fp {
    margin-top: 6px;
    margin-left: 35px;
}

.page a:hover {
    text-decoration: underline;
}

.login {
    width: 300px;
    height: 45px;
    border-radius: 6px;
    margin: 20px auto;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page span{
    color: black;
    text-align: center;
}
#login{
    color: #009688;
    text-align: center;
}
.login:hover{
    transform: scale(1.02);
    transition-duration: 1s;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}